*{
    margin: 0;
    padding: 0;
    
}

#conteneur{
    background: #336699; width: 100% ; height: 100%;
    }
    header{
    background: #ff5555; width: 100%; height: 70px;
    }
    .gauche{
    background: rgb(0, 104, 71); width: 33%; height: 100vh; float: left;
    }
    .milieu{
    background: #f1f1f1; width: 33%; height: 50vh; float: left;
    }
    .droite{
    background: rgb(206, 17, 38); width: 34%; height: 100vh; float: left;
    }
    .clear{
    clear: both;
    }
    .bas {  height: 50vh; left: 33%; position: relative; width: 33%;  }
    

/* Commentaire sur une ligne */

h1{
    color: #f1f1f1;
    display: flex;
    justify-content: center;
}

/* CSS Document */
body {
    font:12px arial;
    color: #222;
    text-align:center;
    }
  
form, p, span {
    margin:0;
    padding:0; }
  
input { font:12px arial; }
  
a {
    color:#0000FF;
    text-decoration:none; }
  
    a:hover { text-decoration:underline; }
  
#wrapper, #loginform {
    margin:0 auto;
    padding-bottom:25px;
    
    width:504px;
    border:1px solid #ACD8F0; }
  
#loginform { padding-top:18px; }
  
    #loginform p { margin: 5px; }
  
#chatbox {
    text-align:left;
    margin:0 auto;
    margin-bottom:25px;
    
    border:1px solid #ACD8F0;
    overflow:auto; }
  
#usermsg {
    width:395px;
    border:1px solid #ACD8F0; }
  
#submit { width: 60px; }
  
.error { color: #ff0000; }
  
#menu { padding:12.5px 25px 12.5px 25px; }
  
.welcome { float:left; }
  
.logout { float:right; }
  
.msgln { margin:0 0 2px 0; }


